body{margin: 0; background-image: url(../img/dbj3.png); width: 1349; height: 1000px;}
.ly1{width: 800px;height 900px;background-color: burlywood;margin: 0 auto; margin-top: 300;}
.ly2{width: 800px;height: 600;background-color: #A52A2A;}
